# Codigo de extracción de datos Covid
El presente código se encarga de la extracción de información desde el repositorio del ministerio de Ciencias, Tecnologías e innovación. Este se enmarca en el trabajo de datos para el hito 1 del proyecto del curso de Introducción a la minería de datos.

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Funcion que permite la obtención de los casos totales incrementales de la pandemia: 
date = '2020-03-30'

#Obtención de casos totales en una región dada una fecha: 
def get_Casos_Totales_Region_on_date(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/"+date+"-CasosConfirmados-totalRegional.csv", index_col='Region')
    return values

# Obtención del fallecimiento etario por fecha:
def get_fallecimiento_etario():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto10/FallecidosEtario.csv", delimiter=',')
    return values


# Función que entrega los CSV con los datos totales por comuna incrementales
def get_Casos_Totales_comunas_incr():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv")
    return values

# Cuidado que no está cualquier día:
# función entrega los CSV con las los casos totales por coomuna. 
def get_Casos_Totales_comunas(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/"+date+"-CasosConfirmados.csv")
    return values

# Obtención de casos totales por región: 
def get_Casos_totales_x_region(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/"+date+"-CasosConfirmados-totalRegional.csv")
    return values
  
#Obtención de totales nacionales:
def get_total_nacional():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv")
    return values


#obtención de incidencia:
def get_incidencia():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto6/bulk/data.csv")
    return values

In [7]:
pd.DataFrame.head(get_Casos_Totales_Region_on_date(date))

,Casos nuevos,Casos totales,Casos recuperados,Casos fallecidos
Region,,,,
Arica y Paricota,2,6,NaN,0
Tarapacá,2,8,NaN,0
Antofagasta,8,35,NaN,0
Atacama,0,2,NaN,0
Coquimbo,9,27,NaN,0

In [8]:
pd.DataFrame.head(get_fallecimiento_etario())

,Grupo de edad,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,...,2021-03-26,2021-03-27,2021-03-28,2021-03-29,2021-03-30,2021-03-31,2021-04-01,2021-04-02,2021-04-03,2021-04-04
0,<=39,2,2,3,3,3,3,3,3,4,...,518,520,525,531,531,532,538,538,539,541
1,40-49,1,2,2,2,2,2,2,2,2,...,760,765,770,788,789,790,796,800,801,808
2,50-59,1,2,2,3,3,5,5,6,8,...,2217,2223,2233,2257,2264,2266,2293,2305,2316,2331
3,60-69,9,10,12,12,12,12,12,14,16,...,4636,4653,4678,4748,4759,4765,4807,4832,4863,4893
4,70-79,21,22,24,28,29,30,31,32,36,...,6385,6401,6428,6515,6525,6532,6584,6606,6634,6667

In [9]:
pd.DataFrame.head(get_Casos_Totales_comunas_incr())

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,...,2021-03-05,2021-03-08,2021-03-12,2021-03-15,2021-03-19,2021-03-22,2021-03-26,2021-03-29,2021-04-02,Tasa
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0,6.0,12.0,41.0,63.0,...,15978.0,16253.0,16614.0,16913.0,17431.0,17771.0,18370.0,18637.0,19157.0,7738.6
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,0.0,...,36.0,36.0,42.0,42.0,42.0,42.0,42.0,43.0,44.0,3568.5
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,8024.7
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,126.0,126.0,127.0,127.0,128.0,129.0,131.0,136.0,141.0,5606.4
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,94.0,90.0,94.0,92.0,94.0,93.0,101.0,94.0,NaN

In [10]:
pd.DataFrame.head(get_Casos_Totales_comunas(date))

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Casos Confirmados
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN

In [11]:
pd.DataFrame.head(get_Casos_totales_x_region(date))

,Region,Casos nuevos,Casos totales,Casos recuperados,Casos fallecidos
0,Arica y Paricota,2,6,NaN,0
1,Tarapacá,2,8,NaN,0
2,Antofagasta,8,35,NaN,0
3,Atacama,0,2,NaN,0
4,Coquimbo,9,27,NaN,0

In [12]:
pd.DataFrame.head(get_total_nacional())

,Fecha,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,...,2021-03-26,2021-03-27,2021-03-28,2021-03-29,2021-03-30,2021-03-31,2021-04-01,2021-04-02,2021-04-03,2021-04-04
0,Casos nuevos con sintomas,1.0,0.0,2.0,1.0,1.0,2.0,3.0,5.0,2.0,...,5206.0,5135.0,4787.0,4668.0,3427.0,4581.0,5292.0,5348.0,5334.0,4818.0
1,Casos totales,1.0,1.0,3.0,4.0,5.0,7.0,10.0,15.0,17.0,...,962321.0,969913.0,977243.0,984484.0,989492.0,995538.0,1003406.0,1011485.0,1019478.0,1026785.0
2,Casos recuperados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fallecidos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22587.0,22653.0,22754.0,23070.0,23107.0,23135.0,23328.0,23421.0,23524.0,23644.0
4,Casos activos,1.0,1.0,3.0,4.0,5.0,7.0,10.0,15.0,17.0,...,41151.0,41177.0,41767.0,42509.0,41335.0,40696.0,42915.0,45202.0,44584.0,44261.0

In [13]:
pd.DataFrame.head(get_incidencia())

,Poblacion,Casos Confirmados,Fecha,Region ID,Region,Provincia ID,Provincia,Comuna ID,Comuna,Tasa
0,247552.0,4636.0,2020/07/31,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,1872.7378490175802
1,247552.0,2464.0,2020/07/10,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,995.3464322647363
2,247552.0,806.0,2020/06/05,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,325.58815925542916
3,247552.0,2139.0,2020/07/05,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,864.0608841778698
4,247552.0,10875.0,2020/12/18,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,4393.016416752844

In [14]:
def get_producto6():
    values = pd.read_csv("https://github.com/MinCiencia/Datos-COVID19/blob/master/output/producto6/bulk/data.csv")
    return values
pd.DataFrame.head(get_producto6())

ParserError: Error tokenizing data. C error: Expected 1 fields in line 53, saw 3