# Codigo de extracción de datos Covid
El presente código se encarga de la extracción de información desde el repositorio del ministerio de Ciencias, Tecnologías e innovación. Este se enmarca en el trabajo de datos para el hito 1 del proyecto del curso de Introducción a la minería de datos.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Funcion que permite la obtención de los casos totales incrementales de la pandemia: 
date = '2020-03-30'

#Obtención de casos totales en una región dada una fecha: 
def get_Casos_Totales_Region_on_date(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/"+date+"-CasosConfirmados-totalRegional.csv", index_col='Region')
    return values

# Obtención del fallecimiento etario por fecha:
def get_fallecimiento_etario():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto10/FallecidosEtario.csv", delimiter=',')
    return values


# Función que entrega los CSV con los datos totales por comuna incrementales
def get_Casos_Totales_comunas_incr():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv")
    return values

# Cuidado que no está cualquier día:
# función entrega los CSV con las los casos totales por coomuna. 
def get_Casos_Totales_comunas(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto2/"+date+"-CasosConfirmados.csv")
    return values

# Obtención de casos totales por región: 
def get_Casos_totales_x_region(date):
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto4/"+date+"-CasosConfirmados-totalRegional.csv")
    return values
  
#Obtención de totales nacionales:
def get_total_nacional():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales.csv")
    return values


#obtención de incidencia:
def get_incidencia():
    values = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto6/bulk/data.csv")
    return values

In [8]:
pd.DataFrame.head(get_Casos_Totales_Region_on_date(date))

,Casos nuevos,Casos totales,Casos recuperados,Casos fallecidos
Region,,,,
Arica y Paricota,2,6,NaN,0
Tarapacá,2,8,NaN,0
Antofagasta,8,35,NaN,0
Atacama,0,2,NaN,0
Coquimbo,9,27,NaN,0

In [11]:
pd.DataFrame.head(get_fallecimiento_etario())

,Grupo de edad,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,...,2021-03-15,2021-03-16,2021-03-17,2021-03-18,2021-03-19,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24
0,<=39,2,2,3,3,3,3,3,3,4,...,490,491,494,501,505,507,510,513,513,513
1,40-49,1,2,2,2,2,2,2,2,2,...,737,737,737,739,743,747,749,755,755,755
2,50-59,1,2,2,3,3,5,5,6,8,...,2122,2124,2126,2137,2152,2162,2178,2185,2187,2188
3,60-69,9,10,12,12,12,12,12,14,16,...,4487,4491,4497,4524,4546,4556,4577,4591,4595,4600
4,70-79,21,22,24,28,29,30,31,32,36,...,6145,6149,6158,6208,6230,6256,6282,6308,6323,6329

In [13]:
pd.DataFrame.head(get_Casos_Totales_comunas_incr())

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,...,2021-02-22,2021-02-26,2021-03-01,2021-03-05,2021-03-08,2021-03-12,2021-03-15,2021-03-19,2021-03-22,Tasa
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0,6.0,12.0,41.0,63.0,...,15007.0,15358.0,15627.0,15978.0,16253.0,16614.0,16913.0,17431.0,17771.0,7178.7
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,0.0,...,31.0,32.0,32.0,36.0,36.0,42.0,42.0,42.0,42.0,3406.3
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,65.0,8024.7
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,121.0,122.0,125.0,126.0,126.0,127.0,127.0,128.0,129.0,5129.2
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,94.0,94.0,92.0,94.0,90.0,94.0,92.0,94.0,NaN

In [14]:
pd.DataFrame.head(get_Casos_Totales_comunas(date))

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Casos Confirmados
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN

In [15]:
pd.DataFrame.head(get_Casos_totales_x_region(date))

,Region,Casos nuevos,Casos totales,Casos recuperados,Casos fallecidos
0,Arica y Paricota,2,6,NaN,0
1,Tarapacá,2,8,NaN,0
2,Antofagasta,8,35,NaN,0
3,Atacama,0,2,NaN,0
4,Coquimbo,9,27,NaN,0

In [16]:
pd.DataFrame.head(get_total_nacional())

,Fecha,2020-03-02,2020-03-03,2020-03-04,2020-03-05,2020-03-06,2020-03-07,2020-03-08,2020-03-09,2020-03-10,...,2021-03-15,2021-03-16,2021-03-17,2021-03-18,2021-03-19,2021-03-20,2021-03-21,2021-03-22,2021-03-23,2021-03-24
0,Casos nuevos con sintomas,1.0,0.0,2.0,1.0,1.0,2.0,3.0,5.0,2.0,...,3390.0,3303.0,3323.0,4391.0,4482.0,4711.0,4590.0,4142.0,3532.0,3795.0
1,Casos totales,1.0,1.0,3.0,4.0,5.0,7.0,10.0,15.0,17.0,...,896231.0,900782.0,905212.0,911469.0,918053.0,925089.0,931939.0,938094.0,942958.0,947783.0
2,Casos recuperados,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fallecidos,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21772.0,21789.0,21816.0,21988.0,22087.0,22180.0,22279.0,22359.0,22384.0,22402.0
4,Casos activos,1.0,1.0,3.0,4.0,5.0,7.0,10.0,15.0,17.0,...,33379.0,32867.0,31826.0,34228.0,36433.0,37048.0,37958.0,38024.0,37304.0,36054.0

In [17]:
pd.DataFrame.head(get_incidencia())

,Poblacion,Casos Confirmados,Fecha,Region ID,Region,Provincia ID,Provincia,Comuna ID,Comuna,Tasa
0,247552.0,7646.0,2020/09/14,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,3088.644002068252
1,247552.0,10530.0,2020/11/27,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,4253.651758014478
2,247552.0,12.0,2020/04/03,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,4.847466390899689
3,247552.0,10720.0,2020/12/11,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,4330.4033092037225
4,247552.0,8134.0,2020/09/25,15.0,Arica y Parinacota,151.0,Arica,15101.0,Arica,3285.7743019648397